<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ProjectConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Project;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ProjectConnectionString2" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Project;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ProjectConnectionString3" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Project;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ProjectConnectionString4" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Project;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ProjectConnectionString5" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Project;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ProjectConnectionString6" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Project;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>

  </system.web>

</configuration>
